.header {
    display: flex;
    justify-content: center;

}

.scorePanel {
    display: flex;
    justify-content: center;
    gap: 32px;

}

#roundPanel {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.buttonPanel {
    display: flex;
    justify-content: center;
    margin: 32px;
}